<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
<title>python tips</title>
<body style="font-family: Calibri">
<h1><center> به نام یگانه هستی عالم</center></h1>
<br>
<center>
<img src="pic/python-basics-wide2.png" alt="cant not load" width="700" height="200"></center>
<p><br>سلام دوستان؛ در این وبسایت قصد دارم مراحل یادگیری پایتون را که از استادم جناب آقای مهندس محسن افشین یاد گرفته ام برایتان توضیح دهم.<br>
<h2>مرحله اول:</h2> برای یادگیری دستورات پایتون به ساده ترین روش
<a href="https://www.w3schools.com/python/default.asp">اینجا کلیک کنید</a>
.یا روی عکس زیر کلیک کنید
<br>
<center><a href="https://www.w3schools.com/python/default.asp"><img src="pic/learning.jpg" alt="html" width="500" height="200"></center></a>
<h2>مرحله دوم:</h2>در واقع شما آنچه به عنوان سینتکس یاد گرفته اید به کار میگیرید تا مساله را حل کنید. به جرات می توان گفت که حل مساله مهم ترین مهارت یک برنامه نویس به شمار می آید. بنابراین بایستی تا می توانید خود را به چالش بکشید و مسایل مختلف حل کنید و راه حل خود را با ورودی های مختلف امتحان کنید. 
<br>
<center><a href="https://www.w3resource.com/python-exercises/"><img src="pic/excercises.jpg" alt="html" width="500" height="200"> </center></a>
<center>برای دیدن تمرینات پایتون روی عکس فوق کلیک کنید</center>
<h2>مرحله سوم:</h2>در این مرحله بایستی یک مخزن در سایت گیت هاب ایجاد کنید و پروژه های خود را داخل مخزن قرار دهید. در واقع با این سایت میتوانید کدهای خود را با برنامه نویسان در سراسر دنیا به اشتراک بگذارید و نظرات آنها را گرفته و در قسمتهایی که مشکل دارید کمک بگیرید.
<center><a href="https://www.youtube.com/watch?v=RGOj5yH7evk"><img src="pic/github.png" alt="html" width="500" height="200"> </center></a>
<center> .برای دیدن فیلم آموزشی روی عکس فوق کلیک کنید</center>
</body>
</html>